<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SDA authentication service</title>
<link rel="stylesheet" href="../public/bootstrap.min.css">
<link rel="stylesheet" href="../public/custom.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Authentication service</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{.infoUrl}}">{{.infoText}}</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="jumbotron" role="region">
      <div class="container" id="loginbox1">
            <p class="lead text-center">
              Welcome, {{.User}}!
            </p>
            {{if .Token}}
            <p class="text-center">
              Your access token is:
            </p>
            <pre class="border border-secondary rounded py-2 px-3 my-4" id="logintext">{{.Token}}</pre>
            {{end}}
            {{if .ExpDate}}
            <p class="text-center">
              Your access token expires (UTC):
            </p>
            <pre class="text-center" id="logintext">{{.ExpDate}}</pre>
            {{end}}
            <a href="/ega/s3conf" class="btn btn-primary btn-block">Download inbox s3cmd credentials</a>
            <a href="/" class="btn btn-primary btn-block">Continue</a>
      </div>
    </div>
    <script src="../public/jquery-3.5.1.min.js"></script>
    <script src="../public/bootstrap.min.js"></script>
</body>
</html>
