app:
  serveUnencryptedData: true
  port: 18080

log:
  level: "debug"
  format: "json"

storage:
  archive:
    s3:
      endpoint: "http://localhost:19000"
      access_key: "access"
      secret_key: "secretkey"
      bucket_prefix: "archive"
      region: "us-east-1"
      disable_https: true

grpc:
  host: localhost 
  port: 50051

db:
  host: "s3"
  port: 15432
  user: "download"
  password: "download"
  database: "sda"
  sslmode: "disable"

oidc:
  # oidc configuration API must have values for "userinfo_endpoint" and "jwks_uri"
  configuration:
    url: "http://localhost:8800/oidc/.well-known/openid-configuration"
