#loginbox {
    max-width: 800px;
}

#egalogin {
    max-width: 400px;
}

#loginbox1 {
    max-width: 600px;
}

#logintext {
    user-select: "all";
}

.btn-ega{color:#fff;background-color:#155177;border-color:#155177}
.btn-ega:hover{color:#fff;background-color:#5E9CC3;border-color:#5E9CC3}