{{- if or (or (eq "all" .Values.global.deploymentType) (eq "external" .Values.global.deploymentType) ) (not .Values.global.deploymentType) }}
{{- if eq "s3" .Values.global.inbox.storageType }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "sda.fullname" . }}-auth
  labels:
    role: auth
    app: {{ template "sda.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    component: {{ template "sda.fullname" . }}-auth
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.auth.replicaCount }}
  revisionHistoryLimit: {{ default "3" .Values.global.revisionHistory }}
  selector:
    matchLabels:
      app: {{ template "sda.fullname" . }}-auth
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "sda.fullname" . }}-auth
        role: auth
        release: {{ .Release.Name }}
      annotations:
        {{- if not .Values.global.vaultSecrets }}
        checksum/secret: {{ include (print $.Template.BasePath "/auth-secrets.yaml") . | sha256sum }}
        {{- end }}
{{- if .Values.global.podAnnotations }}
{{- toYaml .Values.global.podAnnotations | nindent 8 -}}
{{- end }}
{{- if .Values.auth.annotations }}
{{- toYaml .Values.auth.annotations | nindent 8 -}}
{{- end }}
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        whenUnsatisfiable: DoNotSchedule
        topologyKey: kubernetes.io/hostname
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - {{ template "sda.fullname" . }}-auth
            topologyKey: kubernetes.io/hostname
    {{- if .Values.global.rbacEnabled}}
      serviceAccountName: {{ .Release.Name }}
    {{- end }}
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
      containers:
      - name: auth
        image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          runAsNonRoot: true
          seccompProfile:
            type: "RuntimeDefault"
{{- if .Values.global.extraSecurityContext }}
{{- toYaml .Values.global.extraSecurityContext | nindent 10 -}}
{{- end }}
        command: ["sda-auth"]
        env:
      {{- if not .Values.global.vaultSecrets }}
        {{- if and (ne "" .Values.global.oidc.id) (ne "" .Values.global.oidc.secret) }}
        - name: OIDC_ID
          valueFrom:
            secretKeyRef:
              name: {{ template "sda.fullname" . }}-auth
              key: oidcID
        - name: OIDC_SECRET
          valueFrom:
            secretKeyRef:
              name: {{ template "sda.fullname" . }}-auth
              key: oidcSecret
        {{- end }}
        {{- if or ( eq "federated" .Values.global.schemaType) ( eq "" .Values.global.schemaType) }}
        - name: AUTH_CEGA_ID
          valueFrom:
            secretKeyRef:
              name: {{ template "sda.fullname" . }}-auth
              key: cegaID
        - name: AUTH_CEGA_SECRET
          valueFrom:
            secretKeyRef:
              name: {{ template "sda.fullname" . }}-auth
              key: cegaSecret
        {{- end }}
      {{- else }}
        - name: SERVER_CONFFILE
          value: {{ include "confFile" . }}
      {{- end }}
        {{- if or ( eq "federated" .Values.global.schemaType) ( eq "" .Values.global.schemaType) }}
        - name: AUTH_CEGA_AUTHURL
          value: {{ .Values.global.cega.host | quote }}
        {{- end }}
        {{- if .Values.global.auth.corsOrigins }}
        - name: AUTH_CORS_ORIGINS
          value: {{ .Values.global.auth.corsOrigins | quote }}
        - name: AUTH_CORS_METHODS
          value: {{ .Values.global.auth.corsMethods | quote }}
        - name: AUTH_CORS_CREDENTIALS
          value: {{ .Values.global.auth.corsCreds | quote }}
        {{- end }}
        - name: AUTH_INFOTEXT
          value: {{ .Values.global.auth.infoText }}
        - name: AUTH_INFOURL
          value: {{ .Values.global.auth.inforURL }}
      {{- if .Values.global.auth.resignJwt }}
        - name: AUTH_JWT_ISSUER
        {{- if .Values.global.tls.enabled }}
          value: "https://{{ .Values.global.ingress.hostName.auth }}"
        {{- else }}
          value: "http://{{ .Values.global.ingress.hostName.auth }}"
        {{- end }}
        - name: AUTH_JWT_PRIVATEKEY
          value: "{{ template "jwtPath" . }}/{{ .Values.global.auth.jwtKey }}"
        - name: AUTH_JWT_SIGNATUREALG
          value: {{ .Values.global.auth.jwtAlg }}
      {{- end }}
        - name: AUTH_PUBLICFILE
          value: "{{ template "c4ghPath" . }}/{{ .Values.global.c4gh.publicFile }}"
        - name: AUTH_RESIGNJWT
          value: {{ .Values.global.auth.resignJwt | quote }}
        - name: AUTH_S3INBOX
          value: {{ .Values.global.ingress.hostName.s3Inbox }}
      {{- if .Values.global.log.format }}
        - name: LOG_FORMAT
          value: {{ .Values.global.log.format | quote }}
      {{- end }}
      {{- if .Values.global.log.level }}
        - name: LOG_LEVEL
          value: {{ .Values.global.log.level | quote }}
      {{- end }}
        - name: OIDC_REDIRECTURL
          value: {{ template "authRedirect" .}}
        - name: OIDC_PROVIDER
          value: "{{ .Values.global.oidc.provider }}"
        - name: OIDC_JWKPATH
          value: {{ .Values.global.oidc.jwkPath | quote }}
        {{- if .Values.global.tls.enabled}}
        - name: SERVER_CERT
          value: {{ template "tlsPath" . }}/tls.crt
        - name: SERVER_KEY
          value: {{ template "tlsPath" . }}/tls.key
        {{- end }}
        ports:
        - name: auth
          containerPort: 8080
          protocol: TCP
        livenessProbe:
          httpGet:
            port: auth
            path: /
            scheme: {{ ternary "HTTPS" "HTTP" ( .Values.global.tls.enabled ) }}
            httpHeaders:
            - name: Host
              value: {{ .Values.global.ingress.hostName.auth }}
          initialDelaySeconds: 20
          periodSeconds: 10
        readinessProbe:
          httpGet:
            port: auth
            path: /
            scheme: {{ ternary "HTTPS" "HTTP" ( .Values.global.tls.enabled) }}
            httpHeaders:
            - name: Host
              value: {{ .Values.global.ingress.hostName.auth }}
          initialDelaySeconds: 20
          periodSeconds: 10
        resources:
{{ toYaml .Values.auth.resources | trim | indent 10 }}
        volumeMounts:
      {{- if .Values.global.tls.enabled }}
        - name: tls
          mountPath: {{ template "tlsPath" . }}
      {{- end }}
      {{- if and (.Values.global.auth.resignJwt) (not .Values.global.vaultSecrets) }}
        - name: jwt
          mountPath: {{ template "jwtPath" . }}
      {{- end }}
      {{- if not .Values.global.vaultSecrets }}
        - name: c4gh
          mountPath: {{ template "c4ghPath" . }}
      {{- end }}
      volumes:
      {{- if and (.Values.global.auth.resignJwt) (not .Values.global.vaultSecrets) }}
        - name: jwt
          projected:
            defaultMode: 0440
            sources:
            - secret:
                name: {{ required "A secret for the JWT signing key is needed" .Values.global.auth.jwtSecret }}
                items:
                  - key: {{ required "The name of the JWT signing key is needed" .Values.global.auth.jwtKey }}
                    path: {{ .Values.global.auth.jwtKey }}
      {{- end }}
      {{- if not .Values.global.vaultSecrets }}
        - name: c4gh
          secret:
            defaultMode: 0440
            secretName: {{ required "A secret for the C4GH public key is needed" .Values.global.c4gh.secretName }}
            items:
              - key: {{ required "The C4GH public key is needed" .Values.global.c4gh.publicFile }}
                path: {{ .Values.global.c4gh.publicFile }}
      {{- end }}
      {{- if and (not .Values.global.pkiService) .Values.global.tls.enabled }}
        - name: tls
        {{- if or .Values.global.tls.clusterIssuer .Values.global.tls.issuer }}
          secret:
            defaultMode: 0440
            secretName: {{ template "sda.fullname" . }}-auth-certs
        {{- else }}
          secret:
            defaultMode: 0440
            secretName: {{ required "An certificate issuer or a TLS secret name is required for auth" .Values.auth.tls.secretName }}
        {{- end }}
      {{- end }}
{{- end }}
{{- end }}
