{{- if or (or (eq "all" .Values.global.deploymentType) (eq "internal" .Values.global.deploymentType) ) (not .Values.global.deploymentType)}}
{{- if not .Values.global.vaultSecrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "sda.fullname" . }}-finalize
type: Opaque
stringData:
  config.yaml: |-
  {{- if .Values.global.backupArchive.storageType }}
    storage:
      archive: 
        {{- if eq "s3" .Values.global.archive.storageType }}
        s3:
        - endpoint: {{ required "S3 archive URL missing" .Values.global.archive.s3Url }}{{- if .Values.global.archive.s3Port }}:{{.Values.global.archive.s3Port}}{{- end }}
          access_key: {{ required "Accesskey required for archive" .Values.global.archive.s3AccessKey }}
          secret_key: {{ required "Secretkey required for archive" .Values.global.archive.s3SecretKey }}
          bucket_prefix: {{ required "S3 archive bucket not set" .Values.global.archive.s3BucketPrefix }}
          region: {{ default "us-east-1" .Values.global.archive.s3Region }}
          {{- if .Values.global.tls.enabled }}
          ca_cert: {{ template "tlsPath" . }}/ca.crt
          {{- end }}
          {{- if .Values.global.archive.s3ChunkSize}}
          chunk_size: {{ .Values.global.archive.s3ChunkSize }}
          {{- end }}
          disable_https: {{ not .Values.global.tls.enabled }}
        {{- else }}
        posix:
        - path: {{ .Values.global.archive.volumePath }}
        {{- end }}
      backup:
        {{- if eq "s3" .Values.global.backupArchive.storageType }}
        s3:
        - endpoint: {{ required "S3 backup archive URL missing" .Values.global.backupArchive.s3Url }}{{- if .Values.global.backupArchive.s3Port }}:{{.Values.global.backupArchive.s3Port}}{{- end }}
          access_key: {{ required "Accesskey required for backup archive" .Values.global.backupArchive.s3AccessKey }}
          secret_key: {{ required "Secretkey required for backup archive" .Values.global.backupArchive.s3SecretKey }}
          bucket_prefix: {{ required "S3 backup archive bucket not set" .Values.global.backupArchive.s3BucketPrefix }}
          region: {{ default "us-east-1" .Values.global.backupArchive.s3Region }}
          {{- if .Values.global.tls.enabled }}
          ca_cert: {{ template "tlsPath" . }}/ca.crt
          {{- end }}
          {{- if .Values.global.backupArchive.s3ChunkSize}}
          chunk_size: {{ .Values.global.backupArchive.s3ChunkSize }}
          {{- end }}
          disable_https: {{ not .Values.global.tls.enabled }}
          {{- if .Values.global.backupArchive.maxBuckets }}
          max_buckets: {{ .Values.global.backupArchive.maxBuckets }}
          {{- end }}
        {{- else }}
        posix:
        - path: {{ .Values.global.backupArchive.volumePath }}
        {{- end }}
        {{- if .Values.global.backupArchive.maxObjects }}
          max_objects: {{ .Values.global.backupArchive.maxObjects }}
        {{- end }}
        {{- if .Values.global.backupArchive.maxSize }}
          max_size: {{ .Values.global.backupArchive.maxSize }}
        {{- end }}
  {{- end }}
    broker:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      {{- if .Values.global.broker.verifyPeer }}
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
      {{- end }}
    {{- end }}
      exchange: {{ default "sda" .Values.global.broker.exchange }}
      host: {{ required "A valid MQ host is required" .Values.global.broker.host }}
      port: {{ default (ternary 5671 5672 .Values.global.tls.enabled) .Values.global.broker.port }}
      prefetchCount: {{ default 1 .Values.global.broker.prefetchCount }}
      password: {{ required "MQ password is required" (include "mqPassFinalize" .) }}
      queue: {{ default "accession" .Values.global.broker.finalizeQueue }}
      routingKey: {{ default "completed" .Values.global.broker.finalizeRoutingKey }}
    {{- if ne "" ( default "" .Values.global.broker.serverName ) }}
      serverName: {{.Values.global.broker.serverName }}
    {{- end }}
      ssl: {{ .Values.global.tls.enabled }}
      user: {{ required "MQ user is required" (include "mqUserFinalize" .) }}
    {{- if .Values.global.tls.enabled }}
      verifyPeer: {{ .Values.global.broker.verifyPeer }}
    {{- end }}
      vhost: {{ include "brokerVhost" . }}
    db:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
    {{- end }}
      host: {{ .Values.global.db.host }}
      database: {{ .Values.global.db.name }}
      password: {{ required "MQ password is required" (include "dbPassFinalize" .) }}
      port: {{ .Values.global.db.port }}
      sslmode: {{ ternary .Values.global.db.sslMode "disable" .Values.global.tls.enabled }}
      user: {{ required "DB user is required" (include "dbUserFinalize" .) }}
    log:
      format: {{ .Values.global.log.format }}
      level: {{ .Values.global.log.level }}
    schema:
      type: {{ default "federated" .Values.global.schemaType }}
{{- end }}
{{- end }}
