{{- if or (or (eq "all" .Values.global.deploymentType) (eq "internal" .Values.global.deploymentType) ) (not .Values.global.deploymentType)}}
{{- if not .Values.global.vaultSecrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "sda.fullname" . }}-mapper
type: Opaque
stringData:
  config.yaml: |-
    broker:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      {{- if .Values.global.broker.verifyPeer }}
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
      {{- end }}
    {{- end }}
      exchange: {{ default "sda" .Values.global.broker.exchange }}
      host: {{ required "A valid MQ host is required" .Values.global.broker.host }}
      port: {{ default (ternary 5671 5672 .Values.global.tls.enabled) .Values.global.broker.port }}
      prefetchCount: {{ default 1 .Values.global.broker.prefetchCount }}
      password: {{ required "MQ password is required" (include "mqPassMapper" .) }}
      queue: {{ default "mappings" .Values.global.broker.finalizeQueue }}
    {{- if ne "" ( default "" .Values.global.broker.serverName ) }}
      serverName: {{.Values.global.broker.serverName }}
    {{- end }}
      ssl: {{ .Values.global.tls.enabled }}
      user: {{ required "MQ user is required" (include "mqUserMapper" .) }}
    {{- if .Values.global.tls.enabled }}
      verifyPeer: {{ .Values.global.broker.verifyPeer }}
    {{- end }}
      vhost: {{ include "brokerVhost" . }}
    db:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
    {{- end }}
      host: {{ .Values.global.db.host }}
      database: {{ .Values.global.db.name }}
      password: {{ required "MQ password is required" (include "dbPassMapper" .) }}
      port: {{ .Values.global.db.port }}
      sslmode: {{ ternary .Values.global.db.sslMode "disable" .Values.global.tls.enabled }}
      user: {{ required "DB user is required" (include "dbUserMapper" .) }}
    storage:
      inbox:
      {{- if eq "s3" .Values.global.inbox.storageType }}
        s3:
        - endpoint: {{ required "S3 inbox URL missing" .Values.global.inbox.s3Url }}{{- if .Values.global.inbox.s3Port }}:{{.Values.global.inbox.s3Port}}{{- end }}
          access_key: {{ required "Accesskey required for inbox" .Values.global.inbox.s3AccessKey }}
          secret_key: {{ required "Secretkey required for inbox" .Values.global.inbox.s3SecretKey }}
          bucket_prefix: {{ required "S3 inbox bucket prefix not set" .Values.global.inbox.s3BucketPrefix }}
          region: {{ default "us-east-1" .Values.global.inbox.s3Region }}
          {{- if .Values.global.tls.enabled }}
          ca_cert: {{ template "tlsPath" . }}/ca.crt
          {{- end }}
          disable_https: {{ not .Values.global.tls.enabled }}
      {{- else }}
        posix:
        - path: {{ .Values.global.inbox.volumePath }}
      {{- end }}
    log:
      format: {{ .Values.global.log.format }}
      level: {{ .Values.global.log.level }}
    schema:
      type: {{ default "federated" .Values.global.schemaType }}
{{- end }}
{{- end }}
