{{- if or (or (eq "all" .Values.global.deploymentType) (eq "external" .Values.global.deploymentType) ) (not .Values.global.deploymentType) }}
{{- if eq "s3" .Values.global.inbox.storageType }}
{{- if not .Values.global.vaultSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "sda.fullname" . }}-inbox
type: Opaque
stringData:
  config.yaml: |-
    broker:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      {{- if .Values.global.broker.verifyPeer }}
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
      {{- end }}
    {{- end }}
      exchange: {{ default "sda" .Values.global.broker.exchange }}
      host: {{ required "A valid MQ host is required" .Values.global.broker.host }}
      port: {{ default (ternary 5671 5672 .Values.global.tls.enabled) .Values.global.broker.port }}
      prefetchCount: {{ default 1 .Values.global.broker.prefetchCount }}
      password: {{ required "MQ password is required" (include "mqPassInbox" .) }}
      routingKey: {{ default "inbox" .Values.global.broker.inboxRoutingKey }}
    {{- if ne "" ( default "" .Values.global.broker.serverName ) }}
      serverName: {{.Values.global.broker.serverName }}
    {{- end }}
      ssl: {{ .Values.global.tls.enabled }}
      user: {{ required "MQ user is required" (include "mqUserInbox" .) }}
    {{- if .Values.global.tls.enabled }}
      verifyPeer: {{ .Values.global.broker.verifyPeer }}
    {{- end }}
      vhost: {{ include "brokerVhost" . }}
    db:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
    {{- end }}
      host: {{ .Values.global.db.host }}
      database: {{ .Values.global.db.name }}
      password: {{ required "MQ password is required" (include "dbPassInbox" .) }}
      port: {{ .Values.global.db.port }}
      sslmode: {{ ternary .Values.global.db.sslMode "disable" .Values.global.tls.enabled }}
      user: {{ required "DB user is required" (include "dbUserInbox" .) }}
    s3inbox:
      endpoint: {{ required "S3 archive URL missing" .Values.global.s3Inbox.url }}{{- if .Values.global.s3Inbox.port }}:{{.Values.global.s3Inbox.port}}{{- end }}
      access_key: {{ required "Accesskey required for archive" .Values.global.s3Inbox.accessKey }}
      secret_key: {{ required "Secretkey required for archive" .Values.global.s3Inbox.secretKey }}
      bucket_prefix: {{ required "S3 archive bucket not set" .Values.global.s3Inbox.bucket }}
      {{- if and .Values.global.s3Inbox.caFile .Values.global.tls.enabled }}
      ca_cert: {{ template "tlsPath" . }}/ca.crt
      {{- end }}
      disable_https: {{ not .Values.global.tls.enabled }}
      ready_path: {{ .Values.global.s3Inbox.readyPath }}
    log:
      format: {{ .Values.global.log.format }}
      level: {{ .Values.global.log.level }}
    schema:
      type: {{ default "federated" .Values.global.schemaType }}
    server:
    {{- if .Values.global.tls.enabled }}
      cert: {{ include "tlsPath" . }}/tls.crt
      key: {{ include "tlsPath" . }}/tls.key
    {{- end }}
    {{- if or .Values.global.oidc.jwtPub .Values.global.auth.resignJwt }}
      jwtpubkeypath: {{ include "jwtPath" . }}
      {{- if .Values.global.auth.resignJwt }}
        {{- $_ := required "The signing pub key is required for s3inbox when auth resigns tokens" .Values.global.auth.jwtPub }}
      {{- end }}
    {{- else }}
      jwtpubkeyurl: {{ required "An OIDC provider is required" .Values.global.oidc.provider  | trimSuffix "/" }}/{{ required "An OIDC JWK path is required" .Values.global.oidc.jwkPath | trimPrefix "/" }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
