{{- if ne "federated" .Values.global.schemaType }}
{{- if ne "" .Values.global.sync.remote.host }}
{{- if or (or (eq "all" .Values.global.deploymentType) (eq "internal" .Values.global.deploymentType) ) (not .Values.global.deploymentType)}}
{{- if not .Values.global.vaultSecrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "sda.fullname" . }}-sync
type: Opaque
stringData:
  config.yaml: |-
    storage:
      archive:
        {{- if eq "s3" .Values.global.archive.storageType }}
        s3:
        - endpoint: {{ required "S3 archive URL missing" .Values.global.archive.s3Url }}{{- if .Values.global.archive.s3Port }}:{{.Values.global.archive.s3Port}}{{- end }}
          access_key: {{ required "Accesskey required for archive" .Values.global.archive.s3AccessKey }}
          secret_key: {{ required "Secretkey required for archive" .Values.global.archive.s3SecretKey }}
          bucket_prefix: {{ required "S3 archive bucket not set" .Values.global.archive.s3BucketPrefix }}
          region: {{ default "us-east-1" .Values.global.archive.s3Region }}
          {{- if .Values.global.tls.enabled }}
          ca_cert: {{ template "tlsPath" . }}/ca.crt
          {{- end }}
          {{- if .Values.global.archive.s3ChunkSize}}
          chunk_size: {{ .Values.global.archive.s3ChunkSize }}
          {{- end }}
          disable_https: {{ not .Values.global.tls.enabled }}
        {{- else }}
        posix:
        - path: {{ .Values.global.archive.volumePath }}
        {{- end }}
      sync:
        s3:
        - endpoint: {{ required "S3 sync URL missing" .Values.global.sync.destination.s3Url }}{{- if .Values.global.sync.destination.s3Port }}:{{.Values.global.sync.destination.s3Port}}{{- end }}
          access_key: {{ required "Accesskey required for sync" .Values.global.sync.destination.s3AccessKey }}
          secret_key: {{ required "Secretkey required for sync" .Values.global.sync.destination.s3SecretKey }}
          bucket_prefix: {{ required "S3 sync bucket not set" .Values.global.sync.destination.s3BucketPrefix }}
          region: {{ default "us-east-1" .Values.global.sync.destination.s3Region }}
          disable_https: {{ not .Values.global.tls.enabled }}
          {{- if .Values.global.tls.enabled }}
          ca_cert: {{ template "tlsPath" . }}/ca.crt
          {{- end }}
    broker:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      {{- if .Values.global.broker.verifyPeer }}
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
      {{- end }}
    {{- end }}
      exchange: {{ default "sda" .Values.global.broker.exchange }}
      host: {{ required "A valid MQ host is required" .Values.global.broker.host }}
      port: {{ default (ternary 5671 5672 .Values.global.tls.enabled) .Values.global.broker.port }}
      prefetchCount: {{ default 1 .Values.global.broker.prefetchCount }}
      password: {{ required "MQ password is required" (include "mqPassSync" .) }}
      queue: {{ default "mapping_stream" .Values.global.sync.brokerQueue }}
    {{- if ne "" ( default "" .Values.global.broker.serverName ) }}
      serverName: {{.Values.global.broker.serverName }}
    {{- end }}
      ssl: {{ .Values.global.tls.enabled }}
      user: {{ required "MQ user is required" (include "mqUserSync" .) }}
    {{- if .Values.global.tls.enabled }}
      verifyPeer: {{ .Values.global.broker.verifyPeer }}
    {{- end }}
      vhost: {{ include "brokerVhost" . }}
    c4gh:
      filePath: {{ template "c4ghPath" . }}/{{ (first .Values.global.c4gh.privateKeys).keyName }}
      passphrase: {{ (first .Values.global.c4gh.privateKeys).passphrase }}
      syncPubKeyPath: {{ template "c4ghPath" . }}/{{ required "remote sync public c4gh key is missing" .Values.global.c4gh.syncPubKey }}
    db:
    {{- if .Values.global.tls.enabled }}
      caCert: {{ template "tlsPath" . }}/ca.crt
      clientCert: {{ template "tlsPath" . }}/tls.crt
      clientKey: {{ template "tlsPath" . }}/tls.key
    {{- end }}
      host: {{ .Values.global.db.host }}
      database: {{ .Values.global.db.name }}
      password: {{ required "MQ password is required" (include "dbPassSync" .) }}
      port: {{ .Values.global.db.port }}
      sslmode: {{ ternary .Values.global.db.sslMode "disable" .Values.global.tls.enabled }}
      user: {{ required "DB user is required" (include "dbUserSync" .) }}
    log:
      format: {{ .Values.global.log.format }}
      level: {{ .Values.global.log.level }}
    schema:
      type: {{ default "isolated" .Values.global.schemaType }}
    sync:
      centerPrefix: {{ .Values.global.sync.centerPrefix }}
      remote:
        host: {{ required "remote sync API host is required" .Values.global.sync.remote.host }}
        password: {{ required "remote sync API password is required" .Values.global.sync.remote.password }}
      {{- if not (empty .Values.global.sync.remote.port) }}
        port: {{ .Values.global.sync.remote.port }}
      {{- end }}
        user: {{ required "remote sync API user is required" .Values.global.sync.remote.user }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
