apiVersion: v2
name: sda-svc
version: 3.0.15
appVersion: v3.0.31
kubeVersion: '>= 1.26.0'
description: Components for Sensitive Data Archive (SDA) installation
home: https://neic-sda.readthedocs.io
icon: https://neic.no/assets/images/logo.png
sources:
- https://github.com/neicnordic/sensitive-data-archive
