log:
  format: "json"
  level: "debug"
api:
  rbacFile: /rbac.json

storage:
  archive:
    s3:
    - endpoint: "http://s3:9000"
      access_key: "access"
      secret_key: "secretKey"
      bucket_prefix: "archive"
      region: "us-east-1"
      disable_https: true
      max_buckets: 10
      max_objects: 3
  backup:
    s3:
    - endpoint: "http://s3:9000"
      access_key: "access"
      secret_key: "secretKey"
      bucket_prefix: "backup"
      region: "us-east-1"
      disable_https: true
  inbox:
    s3:
    - endpoint: "http://s3:9000"
      access_key: "access"
      secret_key: "secretKey"
      bucket_prefix: "inbox"
      region: "us-east-1"
      disable_https: true
  sync:
    s3:
    - endpoint: "http://s3:9000"
      access_key: "access"
      secret_key: "secretKey"
      bucket_prefix: "sync"
      region: "us-east-1"
      disable_https: true

s3inbox:
  endpoint: "http://s3:9000"
  access_key: "access"
  secret_key: "secretKey"
  bucket: "inbox"
  region: "us-east-1"
  ready_path: "/minio/health/ready"

location_broker.cache_ttl: 0

grpc:
  host: "reencrypt"
  port: 50051

auth:
  cega:
    authUrl: "http://cega-nss:8443/username/"
    id:
    secret:
  infoText: "About service text"
  infoURL: "http://example.org/about"
  jwt:
    issuer: "https://auth:8888"
    privateKey: /shared/keys/jwt.key
    signatureAlg: RS256
    tokenTTL: 168
  publicFile: "/shared/c4gh.pub.pem"
  resignJwt:
  s3Inbox: "http://inbox:8000"

broker:
  host: "rabbitmq"
  port: "5672"
  user: ""
  password: ""
  vhost: "/sda"
  exchange: "sda"
  routingKey: ""
  ssl: "false"

db:
  host: "postgres"
  port: "5432"
  user: ""
  password: ""
  database: "sda"
  sslmode: "disable"

c4gh:
  filePath: /shared/c4gh.sec.pem
  passphrase: "c4ghpass"
  syncPubKeyPath: /shared/sync.pub.pem
  rotatePubKeyPath: /shared/rotatekey.pub.pem
  privateKeys:
  - filePath: /shared/c4gh.sec.pem
    passphrase: "c4ghpass"
  - filePath: /shared/rotatekey.sec.pem
    passphrase: "rotatekeyPass"

oidc:
  id: XC56EL11xx
  jwkPath: jwk
  provider: http://localhost:8800/oidc/
  redirectUrl: http://localhost:8801/oidc/login
  secret: wHPVQaYXmdDHg

server:
  cert: ""
  key: ""
  # jwtpubkeypath: "/shared/keys/pub/"
  jwtpubkeyurl: "http://localhost:8800/oidc/jwk"

sync:
  api:
    password: "pass"
    user: "user"
  centerPrefix: "SYNC"
  remote:
    host: "http://sync-api"
    port: "8080"
    password: "pass"
    user: "user"

schema:
  type: "isolated"
