name: Multilinters

on:
  merge_group:
  pull_request:
    paths:
      - '**.go'
      - '**/go.*'

env:
  go-version: '1.24'

jobs:
  lint_sda_download:
    name: Lint download code
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go ${{ env.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          args: --timeout 5m
          working-directory: sda-download

  lint_sda:
    name: Lint sda code
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go ${{ env.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          args: --timeout 5m
          working-directory: sda

  lint_sda_admin:
    name: Lint sda-admin code
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go ${{ env.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          args: --timeout 5m
          working-directory: sda-admin
